<!DOCTYPE html>
<html lang="en">
<head>
	<title>Report</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<style>
@page {
	size: A4;
	margin: 0;
}

@media print {
	html, body {
    width: 210mm;
    height: 297mm;
  }
}

</style>

<body>
	<div class="container">
		<h3>Health report (28-12-60)</h3>
		<table class="table table-bordered">
			<tr>
				<th>Barn</th>
				<th>Pen</th>
				<th>Date of open barn</th>
				<th>Date of close barn</th>
				<th>Age(Day)</th>
				<th>Vaccine name</th>
				<th>Status</th>
			</tr>
			<tr>
				<th>1</th>
				<th>1</th>
				<th>20-12-60</th>
				<th>15-01-61</th>
				<th>10</th>
				<th>Program 1</th>
				<th>Done</th>
			</tr>
			<tr>
				<th>1</th>
				<th>2</th>
				<th>27-12-60</th>
				<th>15-01-61</th>
				<th>-</th>
				<th>Actinobacillus</th>
				<th>Done</th>
			</tr>
			<tr>
				<th>1</th>
				<th>3</th>
				<th>21-8-60</th>
				<th>15-01-61</th>
				<th>60</th>
				<th>Program 3</th>
				<th>Done</th>
			</tr>
			<tr>
				<th>2</th>
				<th>1</th>
				<th>30-8-60</th>
				<th>15-11-60</th>
				<th>-</th>
				<th>Salmonella</th>
				<th>Done</th>
			</tr>
			<tr>
				<th>2</th>
				<th>2</th>
				<th>10-9-60</th>
				<th>15-11-60</th>
				<th>30</th>
				<th>Program 2</th>
				<th>Done</th>
			</tr>
			<tr>
				<th>2</th>
				<th>3</th>
				<th>18-9-60</th>
				<th>15-12-60</th>
				<th>10</th>
				<th>Program 1</th>
				<th>Done</th>
			</tr>
			<tr>
				<th>3</th>
				<th>1</th>
				<th>18-9-60</th>
				<th>15-11-60</th>
				<th>-</th>
				<th>E. coli</th>
				<th>Done</th>
			</tr>
		<!--
		{{#each results}}
			<tr>
				<th>-</th>
				<th>-</th>
				<th>-</th>
				<th>-</th>
				<th>-</th>
				<th>-</th>
				<th>-</th>
			</tr>
		{{/each}}
		-->
		</table> 
	</div>

</body>
</html> 