<!DOCTYPE html>
<html lang="en">
<head>
	<title>Report</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<style>
@page {
	size: A4;
	margin: 0;
}

@media print {
	html, body {
    width: 210mm;
    height: 297mm;
  }
}

</style>

<body>
	<div class="container">
		<h3>Food report (28-12-60)</h3>
		<table class="table table-bordered">
			<tr>
				<th>Barn</th>
				<th>Date of open barn</th>
				<th>Age(Day)</th>
				<th>Transfer in</th>
				<th>Transfer out</th>
				<th>Current pig</th>
				<th>Cumulative Food(Kg)</th>
				<th>Food per pig</th>
				<th>Type of food</th>
			</tr>
			<tr>
				<th>1</th>
				<th>20-12-60</th>
				<th>80</th>
				<th>60</th>
				<th>10</th>
				<th>815</th>
				<th>9075</th>
				<th>11.13</th>
				<th>302</th>
			</tr>
			<tr>
				<th>2</th>
				<th>27-12-60</th>
				<th>75</th>
				<th>30</th>
				<th>2</th>
				<th>782</th>
				<th>3294</th>
				<th>421</th>
				<th>301</th>
			</tr>
			<tr>
				<th>3</th>
				<th>21-8-60</th>
				<th>72</th>
				<th>25</th>
				<th>21</th>
				<th>71</th>
				<th>176024</th>
				<th>2479.21</th>
				<th>303</th>
			</tr>
			<tr>
				<th>4</th>
				<th>30-8-60</th>
				<th>71</th>
				<th>15</th>
				<th>23</th>
				<th>143</th>
				<th>170818</th>
				<th>1194.53</th>
				<th>304</th>
			</tr>
			<tr>
				<th>5</th>
				<th>10-9-60</th>
				<th>73</th>
				<th>76</th>
				<th>5</th>
				<th>649</th>
				<th>167894</th>
				<th>258.70</th>
				<th>301</th>
			</tr>
			<tr>
				<th>6</th>
				<th>18-9-60</th>
				<th>71</th>
				<th>112</th>
				<th>14</th>
				<th>773</th>
				<th>148480</th>
				<th>192.08</th>
				<th>301</th>
			</tr>
			<tr>
				<th>7</th>
				<th>18-9-60</th>
				<th>71</th>
				<th>112</th>
				<th>14</th>
				<th>773</th>
				<th>148480</th>
				<th>192.08</th>
				<th>301</th>
			</tr>
		<!--
		{{#each results}}
			<tr>
				<th>-</th>
				<th>-</th>
				<th>-</th>
				<th>-</th>
				<th>-</th>
				<th>-</th>
				<th>-</th>
			</tr>
		{{/each}}
		-->
		</table> 
	</div>

</body>
</html> 