a {
	color: black;
}

h2 {
	margin-bottom: 10px;
}

.myTop {
	padding: 15px;
	width: 100%;
	background: linear-gradient(to right, #f2cca5, #e09587);
}

.myTopLabel {
	padding-top: 3px;
	text-align: center; 
	margin-right: 25px;
}

.myRightLabel {
	text-align: right;
	margin-right: 25px;
}

.myBack {
	float: left;
}

.myBody {
	padding:10px 10px 105px 10px;
}

.myHome {
	margin-bottom: 20px;
}

.mySelectBarn{
	size: 500%;

}

.myInputField{

}
.myNav {
	border-top: 1px solid black;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.mySelect {
	margin-bottom: 10px;
}

.myTab {
	width: 100%;
	padding: 15px;
  	background: white;
}

.myTab:hover {
	background: #eaeaea;
}

.myButton {
	width: 160px;
	height: 160px;
	border-radius: 18px;
	margin: 10px;
}

.myButton2 {
	width: 300px;
	height: 150px;
	border-radius: 18px;
	margin: 10px;
}
.mySubmitButton{
	width: 120px;
	height: 50px;
	border-radius: 8px;
	margin: 10px;

}
.myBigFont{
	font-size: 130%;
}
.myUser {
	padding:10px;
	margin-bottom: 20px;
	background: linear-gradient(to bottom right, #f2cca5, #e09587);
}

.myFormItem {
	width: 80%;
	margin-bottom: 0;
}

.ant-form-item {
	margin-bottom: 0;
}

.myCalendar {
	padding-top: 30px;
}

.ant-list-header, .ant-list-footer {
	display: none;
}